#root, .contain-all, body{
  width: 100%;
  background-color: #000;
}

header {
  width: 100%;
  padding: 20px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.contain-movies{
  background-color: #000;
  width: 90%;
  margin: auto;
}

.flex-container{
  flex-direction: row;
  text-align: center;
  
}

.btn-primary {
  background-color: red !important;
  border-color: red !important;
}

.btn-top {
  width: 50% !important;
  margin: auto;
}

input {
  z-index: 1;
  width: 100%;
  margin: auto;
}

.pagination {
  display: block !important;
  margin: auto !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pagination li{ 
  display: inline-block;
  margin-bottom: 20px;
}


.director-name, .producer-name {
  max-width: 18ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  margin: auto;
}
