html, body, #root, .contain-all{
  width: 100%;
  background-color: #000;
}

header {
  width: 100%;
  padding: 20px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.contain-movies{
  background-color: #000;
  width: 90%;
  margin: auto;
}

.flex-container{
  flex-direction: row;
  text-align: center;
  
}
h2, h3 {
  color: #fff;
  margin-bottom: 40px !important;
}

.btn-primary {
  background-color: red !important;
  border-color: red !important;
}

.btn-top {
  width: 50% !important;
  margin: auto;
}

input {
  z-index: 1;
  width: 100%;
  margin: auto;
}

.pagination {
  display: block !important;
  margin: auto !important;
  margin-top: 20px  !important;
  margin-bottom: 10px;
}

.pagination li{ 
  display: inline-block;
  margin-bottom: 20px;
}


.director-name, .producer-name {
  max-width: 18ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  margin: auto;
}

.card-body {
  height: 330px !important

}

.modal-body img{
  display: block;
  margin: auto;
}

.modal-body p{
  margin-top: 20px;
}

.card-text{
  margin-top: 30px !important;
}
